mat-dialog-content {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 2rem auto 3rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .full-width {
    width: 100%;
  }
  
  h1, img, p {
    text-align: center;
  }
  
  img {
    width: 100%;
    height: 3rem;
    margin: 1rem auto 1rem;
  }
  
  .tipos {
    display: flex;
    justify-content: space-between;
  }
  
  .tipos mat-form-field {
    width: 49%;
  }
  
  .textarea{
    min-height: 6rem;
    max-height: 10rem;
  }
  
  button{
    margin-top: .5rem;
  }
  
  p {
    margin-top: 3rem;
    opacity: .5;
  }

  .demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  .mat-header-cell {
    font-size: 14px;
    padding: 8px 16px;
   }
   
   .mat-form-field {
    font-size: 14px;
   }
   
   .mat-form-field-wrapper,
   .mat-form-field-flex,
   .mat-form-field-infix {
    padding: 0;
   }
   
  