<div mat-dialog-title align="center">
  Ordem de Compra
</div>
<form [formGroup]="ordemCompra" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="add-item-form tipos">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Selecione uma Fornecedor</mat-label>
          <input type="text" placeholder="Fornecedor" matInput [formControl]="fornecedorControl"
            [matAutocomplete]="autoFornecedor">
          <mat-autocomplete #autoFornecedor="matAutocomplete" [displayWith]="displayFnFornecedor">
            <mat-option *ngFor="let fornecedor of filteredFornecedor | async" [value]="fornecedor">
              {{fornecedor.empresa}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Número da Nota</mat-label>
          <input matInput type="number" placeholder="Ex: 5550" maxlength="50" formControlName="numeroNota" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Observação</mat-label>
          <input matInput type="text" placeholder="Ex: Petenate" maxlength="50" formControlName="observacao" />
        </mat-form-field>
      </div>

      <div class="add-item-form tipos" [formGroup]="itemForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>SKU</mat-label>
          <input #skuInput matInput formControlName="produtoCapaId" (change)="onIdChange($event)">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Produto</mat-label>
          <input type="text" matInput [formControl]="produtoControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProdutoSelected($event)"
            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredProdutos | async" [value]="option">
              {{option.description}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Quantidade</mat-label>
          <input matInput type="number" formControlName="quantidade">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Preço de Compra</mat-label>
          <input matInput type="text" placeholder="Ex: R$ 0,00" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="120" formControlName="precoCompra" />
        </mat-form-field>

      </div>
      <div class="demo-button-container">
        <button mat-raised-button (click)="addData()" [disabled]="!itemForm.valid" class="demo-button"
          type="button">Adicionar Item</button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Existing Columns -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef>SKU</th>
          <td mat-cell *matCellDef="let element">{{element.produtoCapaId}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let element">{{element.descricao}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="!element.editMode; else editMode">
              {{ element.quantidade }}
            </ng-container>
            <ng-template #editMode>
              <input matInput type="number" [formControl]="element.formGroup?.get('quantidade')">
            </ng-template>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ quantidadeTotal | mask: 'separator': {thousandSeparator: '.'} }}</td>
        </ng-container>

        <ng-container matColumnDef="precoCompra">
          <th mat-header-cell *matHeaderCellDef>Preço de Compra</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="!element.editMode; else editMode">
              {{ element.precoCompra | currency : "BRL" : "symbol-narrow" : "1.2-2" }}
            </ng-container>
            <ng-template #editMode>
              <input matInput type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                [formControl]="element.formGroup?.get('precoCompra')">
            </ng-template>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- New Columns -->

        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">{{ element.valorTotal | currency : "BRL" : "symbol-narrow" : "1.2-2" }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ subtotal| currency:'BRL':'symbol-narrow':'1.2-2' }}</td>
        </ng-container>

        <ng-container matColumnDef="observacao">
          <th mat-header-cell *matHeaderCellDef>Observação</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="!element.editMode; else editMode">
              {{ element.observacao }}
            </ng-container>
            <ng-template #editMode>
              <input matInput [formControl]="element.formGroup?.get('observacao')">
            </ng-template>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="!element.editMode; else editMode">
              <a mat-icon-button color="primary" (click)="toggleEditMode(element)">
                <i class="material-icons edit">edit</i>
              </a>
              <a mat-icon-button color="warn" type="button" (click)="removeItem(i)">
                <i class="material-icons delete">delete</i>
              </a>
            </ng-container>
            <ng-template #editMode>
              <a mat-icon-button color="primary" (click)="confirmEdit(element)">
                <i class="material-icons done">done</i>
              </a>
              <button mat-icon-button color="warn" (click)="cancelEdit(element)">
                <mat-icon>clear</mat-icon>
              </button>
            </ng-template>

          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

    </div>

  </div>


  <div mat-dialog-actions align="center">
    <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!ordemCompra.valid || dataSource.length === 0">
      {{ data ? "Atualizar" : "Lançar" }}
    </button>
  </div>
</form>