.container {
  width: 80%;
  margin: 1rem auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin: auto;
  border: 2rem;
  margin: 1rem auto;
}

h1 {
  width: 100%;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.edit {
  color: rgb(116, 70, 243);
}

.delete {
  color: red;
}

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
 vertical-align: top;
 font-size: 1.25em;
}
