.container {
    width: 95%;
    margin: 1rem auto;
  }

  table {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    text-align: center;
  }


  h1 {
    width: 100%;
    text-align: left;
  }

  .edit {
    color: rgb(116, 70, 243);
  }

  .delete {
    color: red;
  }



.filter-button {
  margin-left: 8px; /* Ajuste a margem conforme necessário para separar o botão do campo de filtro */
}
