<div class="container">
  <h1>
    <button (click)="onCreate()" mat-fab color="primary">
      <fa-icon [icon]="faPlus" size="2xl"></fa-icon>
    </button> Ordem de Compras
  </h1>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Ramatex" #input />
  </mat-form-field>
  <div class="mat-elevation-z8 example-table-container">
    <table mat-table [dataSource]="dataSource">
      <!-- Po- Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nomeSolicitante">
        <th mat-header-cell *matHeaderCellDef>Solicitante</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeSolicitante }}</td>
      </ng-container>

      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
        <td mat-cell *matCellDef="let element">{{ element.fornecedor }}</td>
      </ng-container>

      <ng-container matColumnDef="numeroNota">
        <th mat-header-cell *matHeaderCellDef>Nº Nota</th>
        <td mat-cell *matCellDef="let element">{{ element.numeroNotaOrdem }}</td>
      </ng-container>

      <ng-container matColumnDef="dataEmissao">
        <th mat-header-cell *matHeaderCellDef>Data Emissão</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dataEmissao }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataPedidoOrdemCompra">
        <th mat-header-cell *matHeaderCellDef>Data Pedido</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dataPedidoOrdemCompra }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataPrevisaoEntrega">
        <th mat-header-cell *matHeaderCellDef>Prev. Entrega</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="editingOrderId !== element.id; else editCell" (dblclick)="startEditing(element.id)">
            {{ element.dataPrevisaoEntrega || "Não definida"}}
          </span>
          <ng-template #editCell>
            <div class="datepicker-container">
              <input matInput [matDatepicker]="picker" [(ngModel)]="element.dataPrevisaoEntrega"
                placeholder="Escolha uma data">
              <mat-datepicker-toggle matSuffix [for]="picker" matIconSuffix
                class="datepicker-toggle"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <a (click)="saveEdit(element.id, element.dataPrevisaoEntrega)" style="cursor: pointer">
                <i class="material-icons done">done</i>
              </a>
              <a (click)="cancelEdit()" style="cursor: pointer">
                <i class="material-icons clear">clear</i>
              </a>
            </div>
          </ng-template>
        </td>
      </ng-container>



      <!-- Po- Column -->
      <ng-container matColumnDef="dataRecebimentoOrdemCompra">
        <th mat-header-cell *matHeaderCellDef>Data Receb.</th>
        <td mat-cell *matCellDef="let element">{{ element.dataRecebimentoOrdemCompra }}</td>
      </ng-container>
      <!-- Po- Column -->
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Qtde</th>
        <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
      </ng-container>

      <ng-container matColumnDef="statusOrdem">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.statusOrdem }}</td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef>Total (R$)</th>
        <td mat-cell *matCellDef="let element">{{ element.valorTotal | currency : "BRL" : "symbol-narrow" : "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ordemObservacao">
        <th mat-header-cell *matHeaderCellDef>Observação</th>
        <td mat-cell *matCellDef="let element" [attr.title]="element.ordemObservacao">
          {{(element.ordemObservacao.length > 20) ? ((element.ordemObservacao).slice(0, 20) + '...') :
          element.ordemObservacao}}
        </td>
      </ng-container>


      <!-- - Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a [matMenuTriggerFor]="menu" style="cursor: pointer">
            <i class="material-icons settings">settings</i>
          </a>
          <ng-container *ngIf="element.statusOrdem !== 'RECEBIDO' && 
                               element.statusOrdem !== 'AGUARDANDO RECEBIMENTO' &&
                               element.statusOrdem !== 'LIBERADO'">
            <a (click)="onEditForm(element)" style="cursor: pointer">
              <i class="material-icons edit">edit</i>
            </a>
          </ng-container>

          <a (click)="generateAndOpenReport(element.id)" style="cursor: pointer">
            <i class="material-icons imp">print</i>
          </a>

          <mat-menu #menu="matMenu" xPosition="before">
            <ng-container *ngIf="element.statusOrdem !== 'AGUARDANDO LIBERAÇÃO' &&
                     element.statusOrdem !== 'LIBERADO' &&
                     element.statusOrdem !== 'RECEBIDO' &&
                     element.statusOrdem !== 'REVISAR'">
              <button mat-menu-item (click)="onEditForm(element)">Conferir</button>
            </ng-container>
            <ng-container *ngIf="element.statusOrdem === 'RECEBIDO'">
              <button mat-menu-item (click)="onEstornar(element)">Estornar</button>
            </ng-container>
            <ng-container *ngIf="element.statusOrdem === 'AGUARDANDO LIBERAÇÃO'">
              <button mat-menu-item (click)="onLiberar(element)">Liberar</button>
            </ng-container>
            <ng-container *ngIf="element.statusOrdem === 'AGUARDANDO LIBERAÇÃO'">
              <button mat-menu-item (click)="onDevolver(element)">Devolver</button>
            </ng-container>
            <ng-container *ngIf="element.statusOrdem === 'LIBERADO'">
              <button mat-menu-item (click)="onRealizarPedido(element)">Realizar Pedido</button>
            </ng-container>
            <ng-container *ngIf="element.statusOrdem === 'REVISAR'">
              <button mat-menu-item (click)="onRevisar(element)">Revisado</button>
            </ng-container>
            <button mat-menu-item>Cancelar</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 200, dataSource.data.length]" showFirstLastButtons
      aria-label="Selecione a quantidade de páginas">
    </mat-paginator>
  </div>
</div>