<div class="container mat-elevation-z8">
  <h1 class="full-width">Cadastrar Produto Capa</h1>
  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input
        matInput
        [formControl]="description"
        [(ngModel)]="produtoCapa.description"
        name="description"
        required
        placeholder="Ex: botão de ouro"
        maxlength="50"
      />
      <mat-icon matSuffix>business_center</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Tipo de Produto</mat-label>
      <mat-select [(ngModel)]="produtoCapa.tipoProduto" name="tipoProduto" required>
        <mat-option *ngFor="let option of produtos" [value]="option.valor">{{ option.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Unidade Medida</mat-label>
      <mat-select [(ngModel)]="produtoCapa.medidaUnidade" name="medidaUnidade" required>
        <mat-option *ngFor="let option of medidas" [value]="option.valor">{{ option.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Selecione uma Cliente</mat-label>
      <mat-select [(ngModel)]="produtoCapa.fornecedor" name="fornecedor" [formControl]="fornecedorSelect" required>
          <mat-option *ngFor="let forenecedores of fornecedor" value="{{forenecedores.id}}">{{forenecedores.empresa}}</mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Estoque Mínimo</mat-label>
      <input
        [(ngModel)]="produtoCapa.minimo"
        (ngModelChange)="updateMaximo()"
        name="minimo"
        matInput
        [formControl]="minimo"
        required
        [mask]="'0*'"
        placeholder="Ex. 10"
      />
      <mat-icon matSuffix>pin_drop</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Estoque Máximo</mat-label>
      <input
        [(ngModel)]="produtoCapa.maximo"
        name="maximo"
        matInput
        [formControl]="maximo"
        required
        [mask]="'0*'"
        placeholder="Ex. 100"
      />
      <mat-icon matSuffix>pin_drop</mat-icon>
    </mat-form-field>

    <button
      (click)="create()"
      [disabled]="!fieldValidate()"
      class="full-width mat-elevation-z4"
      mat-raised-button
      color="primary"
    >
      Cadastrar
    </button>
    <button
      class="full-width mat-elevation-z4"
      mat-stroked-button
      color="warn"
      routerLink=".."
    >
      Cancelar
    </button>
  </form>
  <P class="full-width">Development by Clóvis Junior</P>
</div>
