<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form mat-elevation-z4">
    <img src="assets/img/logo-janfer.svg" alt="helpdesk login">
      <h1>Controle de Estoque</h1>

      <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usuário</mat-label>
          <input formControlName="name" required name="name" matInput placeholder="Ex: joão">
          <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" required name="password" type="password" matInput placeholder="Ex: 1234">
          <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
      <button [disabled]="!loginForm.valid" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
  </form>
</div>
