<div class="container">
    <h1>Listar Fornecedores</h1>
    <button routerLink="cadastrar" mat-raised-button color="primary"
        *ngIf="isAdminUser() || isManagerAndFornecedorCreate() || isUserAndFornecedorCreate()">Cadastrar
        Fornecedor</button>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Ramatex" #input>
    </mat-form-field>
    <div class="mat-elevation-z8 example-table-container">

        <table mat-table [dataSource]="dataSource">

            <!-- Po- Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="empresa">
                <th mat-header-cell *matHeaderCellDef> Empresa </th>
                <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
            </ng-container>

            <!-- - Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <!-- - Column -->
            <ng-container matColumnDef="tipoEmpresa">
                <th mat-header-cell *matHeaderCellDef> Tipo de Empresa </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoEmpresa}} </td>
            </ng-container>

            <!-- - Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-Mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.telefone | mask: "(00) 0000-0000||(00) 0 0000-0000" }}
                </td>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef> Ativo </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.ativo; else inativo">Sim</span>
                    <ng-template #inativo>Não</ng-template>
                </td>
            </ng-container>

            <!-- - Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a *ngIf="isAdminUser() || isUserAndFornecedorUpdate() || isManagerAndFornecedorUpdate()"
                        routerLink="atualizar/{{ element.id }}">
                        <i class="material-icons edit">edit</i>
                    </a>
                    <a *ngIf="isAdminUser() || isUserAndFornecedorDelete() || isManagerAndFornecedorDelete()"
                        (click)="delete(element.id)" style="cursor: pointer;">
                        <i class="material-icons delete">delete</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[50, 100, 200, dataSource.data.length]" showFirstLastButtons
        aria-label="Selecione a quantidade de páginas">
    </mat-paginator>
</div>