.container {
  width: 95%;
  margin: 1rem auto;
}

table {
  width: auto;
}


mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin: auto;
  border: 2rem;
  margin: 1rem auto;
}

h1 {
  width: 100%;
  text-align: center;
}

.edit {
  color: rgb(116, 70, 243);
}

.delete {
  color: red;
}

.example-container {
  height: 270px;
  overflow: auto;
}

.mat-mdc-table {
 white-space: nowrap;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 450px;
  overflow: auto;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 5px 0 5px;
  height: 30px;
}

